<a href="https://colab.research.google.com/github/koh-hongQ/CME193/blob/main/Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CME 193 - Introduction to Scientific Python


## Course Logistics

**Instructor:** Anjan Dwaraknath (anjandn@stanford.edu)

**Course website:** [cme193.stanford.edu](http://cme193.stanford.edu).
Please check there for any materials related for the course (and let me know if something needs to be updated).

**Class:** We'll intersperse lecture with breaks to work on exercises.  These breaks are good chances to try out what you learn, and ask for help if you're stuck.  You aren't required to submit solutions to the exercises, and should focus on exercises you find most interesting if there are multiple options.

**Homework:** We'll have 2 homeworks, which should not be difficult or time consuming, but a chance to practice what we cover in class. Feel free to discuss the problems with other students in the class, but the final code you submit should be written by you.

**Grading:** This class is offered on a credit/no-credit basis.  Really, you're going to get out of it what you put into it.  My assumption is that you are taking the course because you see it as relevant to your education, and will try to learn material that you see as most important.

**Office hours:** Thursdays 4:30-6:30 (Huang basement, either in the ICME lobby or directly outside).

# Overview of Course

You can find a list of topics we plan to cover on the [course website](http://web.stanford.edu/class/cme193/syllabus.html).  

Here is a tentative list of lectures:
1. Python basics
1. NumPy basics
1. Linear algebra (NumPy)
1. Numerical algorithms (NumPy)
1. Scientific computing (SciPy)
1. Data science (Pandas)
1. Machine learning (scikit-learn)
1. Deep learning (PyTorch)

The goal of the course is to get you started with using Python for scientific computing.
* We **are** going to cover common packages for linear algebra, optimization, and data science
* We are **not** going to cover all of the Python language, or all of its applications
    * We will cover aspects of the Python language as they are needed for our purposes

This course is designed for
* People who already know how to program (maybe not in Python)
* People who want to use Python for research/coursework in a scientific or engineering discipline for modeling, simulations, or data science

You don't need to have an expert background in programming or scientific computing to take this course.  Everyone starts somewhere, and if your interests are aligned with the goals of the course you should be ok.

# Python

![xkcd_python](https://imgs.xkcd.com/comics/python.png)
(From [xkcd](https://xkcd.com/))

In [1]:
print("Hello, world!")

Hello, world!

In [2]:
import math
print(math.pi)

3.141592653589793

# Variables

One of the main differences in python compared to other languages you might be familiar with is that variables are not declared and are not strongly typed

In [3]:
x = 1
print(x)

1

In [4]:
y = "test"

In [5]:
print(y)

test

In [6]:
x = 1
x = "string"
print(x)

string

In [7]:
x = 1
print(type(x))

<class 'int'>

In [8]:
x = "string"
print(type(x))

<class 'str'>

In [9]:
x = 0.1
print(type(x))

<class 'float'>

In [10]:
x = 0.1
type(x)

float

In [11]:
x

0.1

# Basic Arithmetic

Operators for integers:
`+ - * / % **`

Operators for floats:
`+ - * / **`

Boolean expressions:
* keywords: `True` and `False` (note capitalization)
* `==` equals: `5 == 5` yields `True`
* `!=` does not equal: `5 != 5` yields `False`
* `>` greater than: `5 > 4` yields `True`
* `>=` greater than or equal: `5 >= 5` yields `True`
* Similarly, we have `<` and `<=`.

Logical operators:
* `and`, `or`, and `not`
* `True and False`
* `True or False`
* `not True`

# Strings

Concatenation: `str1 + str2`

Printing: `print(str1)`

In [12]:
str1 = "Hello, "
str2 = "World!"
str3 = str1 + str2
str3

'Hello, World!'

In [13]:
print(str3)

Hello, World!

Formatting:

In [14]:
x = 23
y = 52
name = "Alice"

str1 = f"{name}'s numbers are {x} and {y}, and their sum is {x + y}"
str1

"Alice's numbers are 23 and 52, and their sum is 75"

In [15]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

a: string
b: 1.000000, hello, 5
c: 3.14

In [16]:
# some methods
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

Hello, World!
HELLO, WORLD!
hello, world!

In [17]:
str1.replace?

In [18]:
str1.replace('l', 'p')

'Heppo, Worpd!'

# Control Flow

If statements:

In [19]:
x = 1
y = 1
z = 2
if x == y:
    print("Hello")
elif x == z:
    print("Goodbye")
else:
    print("???")

Hello

**For loops**

In [20]:
print("loop 1")
for i in range(5): # default - start at 0, increment by 1
    print(i)

print("\nloop 2")
for i in range(10, 2, -2): # inputs are start, stop, step
    print(i)

loop 1
0
1
2
3
4

loop 2
10
8
6
4

**while loops**

In [21]:
i = 1
while i < 100:
    print(i**2)
    i += i**2  # a += b is short for a = a + b

1
4
36
1764

**continue** - skip the rest of a loop

**break** - exit from the loop

In [23]:
for num in range(2, 10):
    if num % 2 == 0:
        continue # this jumps us back to the top
    print(f"Found {num}, an odd number")

Found 3, an odd number
Found 5, an odd number
Found 7, an odd number
Found 9, an odd number

In [24]:
n = 64
for x in range(2, n):
    if n % x == 0: # if n divisible by x
        print(f'{n} equals {x} * {n // x}')
        #break

64 equals 2 * 32
64 equals 4 * 16
64 equals 8 * 8
64 equals 16 * 4
64 equals 32 * 2

**pass** does nothing

In [25]:
if False:
    pass # to implement
else:
    print('True!')

True!

# Exceptions

In [26]:
100 / 0

ZeroDivisionError: division by zero

In [27]:
try:
    x = 100 / 0
except ZeroDivisionError:
    print("We divided by zero")

We divided by zero

# Functions

Functions are declared with the keyword `def`

In [28]:
# def tells python you're trying to declare a function
def triangle_area(base, height):
    return 0.5 * base * height

triangle_area(1, 2)

1.0

In [29]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height

triangle_area(-1, 2)

ValueError: Base and height must be non-negative

In [30]:
# everything in python is an object, and can be passed into a function
def f(x):
    return x+2

def twice(f, x):
    return f(f(x))

twice(f, 2) # + 4

6

In [31]:
def n_apply(f, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is dummy variable in iteration
        x = f(x)
    return x

n_apply(f, 1, 5) # 1 + 2*5

11

In [32]:
def g(a, x, b=0):
    return a * x + b

In [33]:
g(2, 5, 1)

11

In [34]:
g(2, 5)

10

# Exercise 1

(10 minutes)

1. Output the string "Hello, World!" using Python
2. Import a Python Module
    * Try importing the `math` module and printing $\tan(1)$
3. Numeric variables
    * assign a variable $x$ to have value 1
    * increment $x$ (add 1 to $x$)
    * print the product of $x$ and 2
4. Print every integer between 1 and 100, except:
    * if it is a multiple of 3, print "Fizz"
    * if it is a multiple of 5, print "Buzz"
    * if it is a multiple of 3 and 5, print "FizzBuzz"
5. Print every power of 2 less than 10,000
6. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
9. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

# Lists

A list in Python is an ordered collection of objects

In [35]:
a = ['x', 1, 3.5]
print(a)

['x', 1, 3.5]

You can iterate over lists in a very natural way

In [36]:
for elt in ["step1", "step2"]:
    print(elt)

step1
step2

Python indexing starts at 0.

In [37]:
a.remove?

You can append to lists using `.append()`, and do other operations, such as `push()`, `pop()`, `insert()`, etc.

In [38]:
a = []
for i in range(10):
    a.append(i**2)

In [39]:
while len(a) > 0:
    elt = a.pop()
    print(elt)

81
64
49
36
25
16
9
4
1
0

In [40]:
a

[]

Python terminology:
* a list is a "class"
* the variable `a` is an object, or instance of the class
* `append()` is a method

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ \sqrt{x} ~\mid~ 0 \le x \le 20, x\mod 3 = 0\}$$

In [41]:
S = [math.sqrt(x) for x in range(20) if x % 3 == 0]
S

[0.0,
 1.7320508075688772,
 2.449489742783178,
 3.0,
 3.4641016151377544,
 3.872983346207417,
 4.242640687119285]

In [42]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            S += [(i,j,k)]
S

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [43]:
# you aren't restricted to a single for loop
S = [(i,j,k) for i in range(2) for j in range(2) for k in range(2)]
S

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

Syntax is generally
```python3
S = [<elt> <for statement> <conditional>]
```

# Other Collections

We've seen the `list` class, which is ordered, indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered, indexed, and immutable
* `set` which is unordered, unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), which is unordered, indexed, and mutable, with no duplicate keys.

In [45]:
a_tuple = (1, 2, 4)
a_tuple[0] = 3

TypeError: 'tuple' object does not support item assignment

In [46]:
a_set = {5, 3, 2, 5}
a_set

{2, 3, 5}

In [47]:
a_dict = {}
a_dict[5] = 12
a_dict["key_2"] = 27
a_dict["key_3"] = [13, "value"]
a_dict

{5: 12, 'key_2': 27, 'key_3': [13, 'value']}

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\mod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.

# Classes

Classes let you abstract away details while programming.

In [49]:
class Animal:
    def say_hi(self):
        print("Hello!")

In [50]:
x = Animal()
x.say_hi()

Hello!

## Example: Rational Numbers

Here we'l make a class that holds rational numbers (fractions).  That is, numbers of the form
$$r = \frac{p}{q}$$
where $p$ and $q$ are integers

In [51]:
class Rational:
    def __init__(self, p, q=1):

        if q == 0:
            raise ValueError('Denominator must not be zero')
        if not isinstance(p, int):
            raise ValueError('Numerator must be an integer')
        if not isinstance(q, int):
            raise ValueError('Denominator must be an integer')

        g = math.gcd(p, q)

        self.p = p // g # integer division
        self.q = q // g

    # method to convert rational to float
    def __float__(self):
        return self.p / self.q

    # method to convert rational to string for printing
    def __str__(self):
        return f'{self.p}/{self.q}'

    def __repr__(self):
        return f'Rational({self.p}, {self.q})'

In [52]:
a = Rational(6, 4)
b = Rational(3, 2)

print(type(a))
print(f"a = {a}")
print(f"b = {b}")
print([a,b])
print(f"float(a) = {float(a)}")

<class '__main__.Rational'>
a = 3/2
b = 3/2
[Rational(3, 2), Rational(3, 2)]
float(a) = 1.5

In [53]:
a + b

TypeError: unsupported operand type(s) for +: 'Rational' and 'Rational'

You can do cool things like overload math operators.  This lets you write code that looks like you would write math.  Recall

$$ \frac{p_1}{q_1} + \frac{p_2}{q_2} = \frac{p_1 q_2 + p_2 q_1}{q_1 q_2}$$

We'll see this next time!